div()
    h3(class='ui header center aligned')
        i(class='icon archive')
        |Assets &amp; Tools Manager
    div(class='ui divider')
    div(class='ui form')
        div(class='field')
            label Available Tools:
            div(class='ui list horizontal')
                div(class="ui item")
                    div(class="ui content")
                        div(class="ui button inverted blue fluid") NER
                div(class="ui item")
                    div(class="ui content")
                        div(class="ui button inverted blue fluid") NER
                div(class="ui item")
                    div(class="ui content")
                        div(class="ui button inverted blue fluid") NER
                div(class="ui item")
                    div(class="ui content")
                        div(class="ui button inverted blue fluid") NER
                div(class="ui item")
                    div(class="ui content")
                        div(class="ui button inverted blue fluid") NER
                div(class="ui item")
                    div(class="ui content")
                        div(class="ui button inverted blue fluid") NER
                div(class="ui item")
                    div(class="ui content")
                        div(class="ui button inverted blue fluid") NER
                div(class="ui item")
                    div(class="ui content")
                        div(class="ui button inverted blue fluid") NER
                div(class="ui item")
                    div(class="ui content")
                        div(class="ui button inverted blue fluid") NER

        div(id='toolError' class='ui red pointing above ui label fluid') Please select a tool!
        div(class='ui divider')
        div(class='ui form')
            div(class='field')
                label Tool Parameters:
                div(id='toolParams')
                    - n = 0

        div(class='ui divider')
        div(class='field')
            label Assets Controll:
            table(class='ui table definition small compact center aligned')
                thead
                    tr
                        th(class="collapsing") &nbsp;
                        th Name
                        th Type
                        th Tool
                        th(class="collapsing")
                            abbr(title='Status')
                                i(class='icon off')
                        th(class="collapsing")
                            abbr(title='Control')
                                i(class='icon cloud')

                tbody(id='assetTable')
                    - n = 0
                    while n < model.assets.length
                        - asset = model.assets.at(n++)
                        tr
                            td
                                if asset.selected
                                    input(name='assets' type='radio' value='#{asset.name}' checked='checked')
                                else
                                    input(name='assets' type='radio' value='#{asset.name}')
                            td #{asset.name}
                            td #{asset.type}
                            td #{asset.tools}
                            td
                                i(class='#{asset.statusIcon} icon')
                            td
                                i(class='#{asset.controlIcon} icon')
                tfoot(class='ui transition hidden')
                    tr
                        th(colspan='6' class='')
                            div
                                ul
                                    li Name:
                                    li Description
                                    li Type:
                                    li Tools:
                                    li Status:
                                    li Control:
                                    li Parts:

            div(id='assetError' class='ui red pointing above ui label fluid') Please select an asset!
        div(class='ui green fluid button' data-hook='hide')
            i(class='left icon')
            |Hide
